body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.books-list-header {
  display: grid;
  grid-template-columns: 30vw 30vw auto;
  font-size: 20px;
  font-weight: 700;
}

.books-list-header div {
  display: inline-block;
}

.books-list {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: 30vw 30vw auto;
  grid-row-gap: 16px;
  margin-bottom: 10px;
}

.books-list > div {
  border: 1px solid #000000;
  align-self: center;
}

.books-list::before{
  grid-column-start: 1;
  grid-column-end: 4;
  display: block;
  content: '';
 width: 100%;
 height: 4px;
 background: black;
}

.books {
  margin: 8px;
}