body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: "Dosis", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #370505,
    #5f0917,
    #8b0d25,
    #ba1033,
    #eb1241
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding: 0 14px;
}

.app-title {
  margin-top: 0px;
  padding-top: 16px;
}

main {
  position: relative;
}

.book-details {
  background: #ffffff52;
  border: 2px solid #ffffff85;
  padding: 8px;
}

.books-list-header {
  display: grid;
  grid-template-columns: 30vw 30vw auto;
  font-size: 20px;
  font-weight: 700;
}

.books-list-header::after {
  grid-column-start: 1;
  grid-column-end: 4;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #c1c1c1;
}

.books-list {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: 30vw 30vw auto;
  grid-row-gap: 16px;
  margin-bottom: 6px;
  margin-top: 6px;
  background: #ffffff57;
}

.books-list > div {
  align-self: center;
}

.books {
  margin-top: 50px;
}

form {
  text-align: center;
}

form input {
  background: #f7ffe8;
  display: block;
  width: calc(200px + 10vw);
  padding: 6px;
  margin: 6px auto;
  border-radius: 4px;
}

.action-button {
  padding: 8px 20px;
  background: #5fd668;
  border: 1px solid #3de24a;
  font-weight: 400;
  color: #ffffff;
  min-width: 90px;
  margin: 8px;
  transition: 0.2s;
}

.action-button:hover {
  padding: 8px 20px;
  background: #3de24a;
  border: 1px solid #ffffff;
  font-weight: 400;
  color: #ffffff;
  min-width: 90px;
  cursor: pointer;
}

.add-book-button {
  left: 20px;
  position: absolute;
  top: 20px;
  font-size: 14px;
  padding: 6px 16px;
  background: #ffffff00;
  border: 2px solid #5fd668;
  border-radius: 4px;
  color: #5fd668;
  transition: 0.2s;
}

.add-book-button:hover {
  left: 20px;
  position: absolute;
  top: 20px;
  font-size: 14px;
  padding: 6px 16px;
  background: #5fd668;
  border: 2px solid #5fd668;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
@media (min-width: 576px) {
  .wrapper {
    padding: 0 36px;
  }
}
